**/git_ignore
.DS_STORE
**/__pycache__

# R cache and setup files
.Rhistory
.Rproj.user
.RData
.Rprofile

# Python cache and setup files
.ipynb_checkpoints

# Quarto
/.quarto/
_site/
_environment.local

# Mac users
.DS_STORE
/_*.local
